<section>
  <h2 class="header-style my-24">our categories</h2>

  <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-10">
    @for (category of categories ; track category._id) {
    <div
      routerLink="/specificProducts"
      (click)="getCategoryProducts(category.name)"
      class="cart-style hover:scale-[1.1] transition-all flex flex-col overflow-hidden cursor-pointer"
    >
      <div>
        <div
          class="card-img mb-2 w-[250px] h-[250px] rounded-full border shadow-xl overflow-hidden m-auto"
        >
          <img
            [src]="category.image"
            [alt]="category.name"
            class="w-full h-[250px] object-contain"
          />
        </div>
        <div class="card-body px-2 py-4">
          <h3 class="text-green-500 text-xl text-center">
            {{ category.name }}
          </h3>
        </div>
      </div>
    </div>
    }
  </div>
</section>
