<footer class="bg-[#f0f3f2] px-3 py-10">
  <div class="container">
    <h2 class="capitalize text-2xl">get the freshCart app</h2>
    <p class="text-gray-500 text-sm mb-2">
      We Will Send You a Link, Open it on Your Phone to download the app
    </p>
    <div class="flex items-center text-nowrap gap-3 mb-2">
      <input
        class="w-full rounded-lg border-gray-300"
        type="text"
        placeholder="email"
      />
      <button class="">Share App Link</button>
    </div>

    <div class="md:flex items-center justify-between">
      <div class="flex items-center gap-2 mb-3 md:mb-0">
        <h3 class="text-sm">Payment partners</h3>
        <img class="w-[50px]" src="./images/amazon-pay.png" alt="" />
        <img
          class="w-[50px]"
          src="./images/American-Express-Color.png"
          alt=""
        />
        <img class="w-[50px]" src="./images/paypal.png" alt="" />
        <img class="w-[50px]" src="./images/mastercard.webp" alt="" />
      </div>
      <div class="flex items-center gap-2">
        <h3 class="h6">Get Deliveries with FreshCart</h3>
        <img class="w-[100px]" src="./images/get-google-play.png" alt="" />
        <img class="w-[100px]" src="./images/get-apple-store.png" alt="" />
      </div>
    </div>
  </div>
</footer>
