<section class="lg:w-1/2 mx-auto bg-gray-50 p-5 rounded shadow-lg">
  <h1 class="text-3xl text-green-600 font-light text-center uppercase">
    forget password
  </h1>
  <!-- *form 1 -->
  @if(step === 1){
  <form [formGroup]="verifyEmail" (ngSubmit)="sendEmail()">
    <!-- * email -->
    <div class="mb-4">
      @let emailControl = verifyEmail.get('email');
      <label
        for="email"
        class="block mb-2 text-md font-light text-gray-900 dark:text-white"
        >Email</label
      >
      <input
        formControlName="email"
        type="email"
        id="email"
        class="mb-2 bg-white border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-600 dark:focus:border-green-600"
      />
      @if(emailControl?.errors && emailControl?.touched){
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if(emailControl?.getError('required')){
            <li>Email is required</li>
            } @if(emailControl?.getError('email')){
            <li>Enter valid email</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>

    @if(msError ){
    <P class="text-red-600 text-center mb-2">{{ msError }}</P>
    }
    <div class="flex justify-between items-center">
      <button [disabled]="isLoading" type="submit" class="btn-form">
        Send Email @if(isLoading){
        <span><i class="fa-solid fa-spinner fa-spin"></i></span>
        }
      </button>
    </div>
  </form>
  }

  <!-- *form 2 -->
  @if(step === 2){
  <form [formGroup]="verifyCode" (ngSubmit)="sendCode()">
    <!-- * code -->
    <div class="mb-4">
      @let codeControl = verifyCode.get('resetCode');
      <label
        for="code"
        class="block mb-2 text-md font-light text-gray-900 dark:text-white"
        >code</label
      >
      <input
        formControlName="resetCode"
        type="text"
        id="code"
        class="mb-2 bg-white border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-600 dark:focus:border-green-600"
      />
      @if(codeControl?.errors && codeControl?.touched){
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if(codeControl?.getError('required')){
            <li>Email is required</li>
            } @if(codeControl?.getError('pattern')){
            <li>Code is invalid</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>
    @if(msError ){
    <P class="text-red-600 text-center mb-2">{{ msError }}</P>
    }

    <div class="flex justify-between items-center">
      <button [disabled]="isLoading" type="submit" class="btn-form">
        Send Code @if(isLoading){
        <span><i class="fa-solid fa-spinner fa-spin"></i></span>
        }
      </button>
    </div>
  </form>
  }

  <!-- *form 3 -->
  @if(step === 3){
  <form [formGroup]="resetPassword" (ngSubmit)="sendNewPassword()">
    <!-- * email -->
    <div class="mb-4">
      @let emailControl = resetPassword.get('email');
      <label
        for="email"
        class="block mb-2 text-md font-light text-gray-900 dark:text-white"
        >Email</label
      >
      <input
        formControlName="email"
        type="email"
        id="email"
        class="mb-2 bg-white border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-600 dark:focus:border-green-600"
      />

      @if(emailControl?.errors && emailControl?.touched){
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if(emailControl?.getError('required')){
            <li>Email is required</li>
            } @if(emailControl?.getError('email')){
            <li>Enter valid email</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>
    <!-- *new password -->
    <div class="mb-4">
      @let newPasswordControl = resetPassword.get('newPassword');
      <label
        for="newPassword"
        class="block mb-2 text-md font-light text-gray-900 dark:text-white"
        >New Password</label
      >
      <input
        formControlName="newPassword"
        type="password"
        id="newPassword"
        class="mb-2 bg-white border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-600 dark:focus:border-green-600"
      />

      @if(newPasswordControl?.errors && newPasswordControl?.touched){
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if(newPasswordControl?.getError('required')){
            <li>Password is required</li>
            } @if(newPasswordControl?.getError('pattern')){
            <li>
              Password must start with capital liter and contain at least 8
              characters
            </li>
            }
          </ul>
        </div>
      </div>
      }
    </div>

    @if(msError ){
    <P class="text-red-600 text-center mb-2">{{ msError }}</P>
    }
    <div class="flex justify-between items-center">
      <button [disabled]="isLoading" type="submit" class="btn-form">
        Reset Password @if(isLoading){
        <span><i class="fa-solid fa-spinner fa-spin"></i></span>
        }
      </button>
    </div>
  </form>
  }
</section>
